
:host {
  display: block;
  min-width: 0;
}

#content{
  height: calc(100% - 40px); 
}

#layout {
  height: calc(100% - 117px);
}

@media (min-width: 768px){
  #layout {
    height: calc(100dvh - 65px);
  }
}